table {
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border-spacing: 10px;
    table-layout: auto;
}

#body-table {
    table-layout: fixed;
    height: 80%;
}

#imagine {
    width: 210px;
    height: 210px;
}

input[type='radio'] {
    padding: 7%;
    margin: 7%;
}

input[type='text'] {
    font-family: cursive;
    display: inline-block;
}

#name-table {
    width: 100%;
    border-spacing: 7px;
}

.name-table {
    background-color: #dab6ea;
}

.variant-table {
    background-color: #f1d2ff;
}

#head-table {
    width: 100%;
    border-spacing: 0;
}

#body-table {
    font-size: 20px;
    margin: auto;
    height: 550px;
}

.body-table {
    background-color: #f1d2ff;
}

#numbers-table {
    padding: 0;
    margin: 0;
    width: 80%;
}

#variant-table {
    width: 90%;
    font-size: 20px;
    margin: auto;
    border-spacing: 5px;
}

.background {
    background: rgba(255, 240, 245, 0.45);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-radius: 10px;
}

select {
    width: 165px;
}

.numbers {
    text-align: center;
    vertical-align: middle;
}

.button {
    font-family: cursive;
    font-weight: 700;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgba(217, 182, 252, 0.76);
    box-shadow: 0 -3px rgba(217, 182, 252, 0.76) inset;
    transition: 0.2s;
}

.button:hover {
    background: rgba(163, 113, 196, 0.73);
}

.button:active {
    outline: none;
    background: rgba(163, 113, 196, 0.73);
    box-shadow: 0 3px rgba(163, 113, 196, 0.73) inset;
}

.errorY {
    border-color: red;
    background-color: rgba(234, 111, 145, 0.97);
}

.imagine3 {
    width: 210px;
    height: 210px;
}

#r-table {
    padding: 0;
    margin: 0;
    table-layout: fixed;
}

#selectY {
    font-family: cursive;
}

#result-div {
    overflow-x: auto;
    height: 300px;
}

.coord {
    stroke: rgb(122, 3, 171);
    fill: rgb(122, 3, 171);
}

.old-coord {
    stroke: rgba(206, 73, 229, 0.7);
    fill: rgba(206, 73, 229, 0.7);
}

#result-td {
    width: 100%;
}